<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand" routerLink="/">
          NaveBar
      </a>
      <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-read-store></app-read-store>
    </div>
    <div class="col-md-4">
        <app-write-store></app-write-store>
    </div>
    <div class="col-md-4">
      <app-effect-component></app-effect-component>
    </div>
  </div>
</div>


